{% extends 'base.html.twig' %}
{% set search_link_text = 'Search different dates' %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="display-3">Search Availability</h1>
                <p class="lead">With it's spacious feel and luxurious Queen bed, our Executive room is perfect if you
                    like to stretch out and relax. There is a comfortable seating area, along with luxurious bedding
                    that will guarantee you a great night’s sleep.</p>

                {% for message in app.flashes('notice') %}
                    <div class="alert alert-info" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}

                {% if searchData is defined %}
                    {% if searchData.isAvailable() == false %}
                        <div class="alert alert-danger" role="alert">
                            Unfortunately The Villa at The Bay is not available for your selected dates.
                        </div>
                    {% else %}
                        <div class="alert alert-success" role="alert">
                            Great! The Villa at The Bay is available for your selected dates.
                        </div>
                        <span class="float-right">
                            <a href="#" id="open_search">{{ search_link_text }}</a>
                        </span>
                        <div class="clearfix"></div>
                    {% endif %}
                {% endif %}

                <div id="search_form"
                     class="jumbotron{% if searchData is defined and searchData.isAvailable() != false %} d-none{% endif %}">
                    {{ form_start(form) }}

                    {{ form_row(form.date_start) }}
                    {{ form_row(form.date_end) }}
                    {{ form_row(form.adult_count) }}
                    {{ form_row(form.child_count) }}
                    {{ form_row(form.search) }}

                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>

    {% if searchData is defined and searchData.isAvailable() == true %}
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="card">
                    <picture>
                        <source media="(min-width: 768px)"
                                srcset="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--bedroom-5-md.jpg">
                        <img class="card-img-top" src="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--bedroom-5-sm.jpg">
                    </picture>
                    <div class="card-body">
                        <h5 class="display-4">Executive Queen Room</h5>
                        <ul>
                            <li>Size: 40 sq m</li>
                            <li>Beds: 1 Queen(s)</li>
                        </ul>

                        <dl class="list-inline">
                            <dt>Amenities include:</dt>
                            <dd class="list-inline-item">Free WI-FI access</dd>
                            <dd class="list-inline-item">Flat screen TV</dd>
                            <dd class="list-inline-item">DVD player</dd>
                            <dd class="list-inline-item">Tea &amp; coffee making facilities</dd>
                        </dl>
                        <dl class="list-inline">
                            <dt>Your selected dates:</dt>
                            <dd>Check-In: {{ searchData.getDateStart().format('jS F Y') }}</dd>
                            <dd>Check-Out: {{ searchData.getDateEnd().format('jS F Y') }}</dd>
                                                    </dl>
                        <dl class="list-inline">
                            <dt>Total price for your stay:</dt>
                            <dd class="display-4">{{ searchData.getCurrencySymbol() }}{{ searchData.getPrice() }}</dd>
                        </dl>
                    </div>
                    <div class="card-footer text-center">
                        <button type="button" class="btn btn-success"><a href="{{ path('booking', {'_search': searchDataSerialised}) }}" class="text-light">Proceed</a></button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        #pano {
            background-image: url('https://d3orc742w48r4f.cloudfront.net/images/pano/bribie-island-brisbane-australia.jpg');
            height: 320px !important;
        }

        @media (max-width: 991px) {
            #pano {
                background-image: url('https://d3orc742w48r4f.cloudfront.net/images/pano/bribie-island-brisbane-australia-md.jpg');
                height: 381px !important;
            }
        }

        @media (max-width: 767px) {
            #pano {
                background-image: url('https://d3orc742w48r4f.cloudfront.net/images/pano/bribie-island-brisbane-australia-sm.jpg');
                height: 307px !important;
            }
        }

        @media (max-width: 576px) {
            #pano {
                background-image: url('https://d3orc742w48r4f.cloudfront.net/images/pano/bribie-island-brisbane-australia-xs.jpg');
                height: 230px !important;
            }

            .display-1, .display-2, .display-3, .display-4, .display-5 {
                font-size: x-large;
                font-weight: bold;
            }
        }


    </style>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $('#open_search').click(function (e) {
            e.preventDefault();

            if ($('#search_form').hasClass('d-none')) {
                $('#search_form').removeClass('d-none');
                $(this).text('Hide search form');
            } else {
                $('#search_form').addClass('d-none');
                $(this).text('{{ search_link_text }}');
            }
        })
    </script>
{% endblock %}
