
{% extends 'base.html.twig' %}
{% set search_link_text = 'Search different dates' %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="display-3">Search Availability</h1>
                <p class="lead">With it's spacious feel and luxurious Queen bed, our Executive room is perfect if you
                    like to stretch out and relax. There is a comfortable seating area, along with luxurious bedding
                    that will guarantee you a great night’s sleep.</p>

                {% if results is defined %}
                    {% if results == false %}
                        <div class="alert alert-danger" role="alert">
                            Unfortunately The Villa at The Bay is not available for your selected dates.
                        </div>
                    {% else %}
                        <div class="alert alert-success" role="alert">
                            Great! The Villa at The Bay is available for your selected dates.
                        </div>
                        <span class="float-right">
                            <a href="#" id="open_search">{{ search_link_text }}</a>
                        </span>
                        <div class="clearfix"></div>
                    {% endif %}
                {% endif %}

                <div id="search_form" class="jumbotron{% if results is defined and results != false %} d-none{% endif  %}">
                    {{ form_start(form) }}

                    {{ form_row(form.date_start) }}
                    {{ form_row(form.date_end) }}
                    {{ form_row(form.adult_count) }}
                    {{ form_row(form.child_count) }}
                    {{ form_row(form.search) }}

                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        #pano {
            background-image: url('https://d3orc742w48r4f.cloudfront.net/images/pano/bribie-island-brisbane-australia.jpg');
            height: 320px !important;
        }

        @media (max-width: 991px) {
            #pano {
                background-image: url('https://d3orc742w48r4f.cloudfront.net/images/pano/bribie-island-brisbane-australia-md.jpg');
                height: 381px !important;
            }
        }

        @media (max-width: 767px) {
            #pano {
                background-image: url('https://d3orc742w48r4f.cloudfront.net/images/pano/bribie-island-brisbane-australia-sm.jpg');
                height: 307px !important;
            }
        }

        @media (max-width: 576px) {
            #pano {
                background-image: url('https://d3orc742w48r4f.cloudfront.net/images/pano/bribie-island-brisbane-australia-xs.jpg');
                height: 230px !important;
            }

            .display-1, .display-2, .display-3, .display-4, .display-5 {
                font-size: x-large;
                font-weight: bold;
            }
        }


    </style>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    $('#open_search').click(function(e) {
        e.preventDefault();

        if ($('#search_form').hasClass('d-none')) {
            $('#search_form').removeClass('d-none');
            $(this).text('Hide search form');
        } else {
            $('#search_form').addClass('d-none');
            $(this).text('{{ search_link_text }}');
        }
    })
</script>
{% endblock %}
