{% extends 'pages/page.html.twig' %}
{% set search_link_text = 'Search different dates' %}
{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row">
            <div class="col">
                {% for message in app.flashes('notice') %}
                    <div class="alert alert-info" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}

                {% if searchData is defined %}
                    {% if searchData.isAvailable() == false %}
                        <div class="alert alert-danger" role="alert">
                            Unfortunately The Villa at The Bay is not available for your selected dates.
                        </div>
                    {% else %}
                        <div class="alert alert-success" role="alert">
                            Great! The Villa at The Bay is available for your selected dates.
                        </div>
                        <span class="float-right">
                            <a href="#" id="open_search">{{ search_link_text }}</a>
                        </span>
                        <div class="clearfix"></div>
                    {% endif %}
                {% endif %}

            </div>
        </div>
    </div>

    {% if searchData is defined and searchData.isAvailable() == true %}
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="card">
                    <picture>
                        <source media="(min-width: 768px)"
                                srcset="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--bedroom-5-md.jpg">
                        <img class="card-img-top" src="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--bedroom-5-sm.jpg">
                    </picture>
                    <div class="card-body">
                        <h5 class="display-4">Executive Queen Room</h5>
                        <ul>
                            <li>Size: 40 sq m</li>
                            <li>Beds: 1 Queen(s)</li>
                        </ul>

                        <dl class="list-inline">
                            <dt>Amenities include:</dt>
                            <dd class="list-inline-item">Free WI-FI access</dd>
                            <dd class="list-inline-item">Flat screen TV</dd>
                            <dd class="list-inline-item">DVD player</dd>
                            <dd class="list-inline-item">Tea &amp; coffee making facilities</dd>
                        </dl>
                        <dl class="list-inline">
                            <dt>Your selected dates:</dt>
                            <dd>Check-In: {{ searchData.getDateStart().format('jS F Y') }}</dd>
                            <dd>Check-Out: {{ searchData.getDateEnd().format('jS F Y') }}</dd>
                                                    </dl>
                        <dl class="list-inline">
                            <dt>Total price for your stay:</dt>
                            <dd class="display-4">{{ searchData.getCurrencySymbol() }}{{ searchData.getPrice() }}</dd>
                        </dl>
                    </div>
                    <div class="card-footer text-center">
                        <button type="button" class="btn btn-success"><a href="{{ path('booking', {'_search': searchDataSerialised}) }}" class="text-light">Proceed</a></button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $('#open_search').click(function (e) {
            e.preventDefault();

            if ($('#search_form').hasClass('d-none')) {
                $('#search_form').removeClass('d-none');
                $(this).text('Hide search form');
            } else {
                $('#search_form').addClass('d-none');
                $(this).text('{{ search_link_text }}');
            }
        })
    </script>
{% endblock %}
