{% extends 'admin.html.twig' %}
{% form_theme form with ['bootstrap_4_horizontal_layout.html.twig', 'admin/form-themes/fields.html.twig'] %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="display-4">Add new slide</h3>

                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                {%- for key, field in form.title -%}
                    {{ form_row(form.title[key]) }}
                    {{ form_row(form.description[key]) }}
                    {{ form_row(form.image[key]) }}
                {%- endfor -%}
                {{ form_end(form) }}
            </div>
        </div>
    </div>




{% endblock %}

{%- block javascripts -%}
<script type="text/javascript">
    $(document).ready(function() {
       $('form[name="carousel_slide"]').on('click', ':radio', function() {
           applyCardClick($(this));
       });
       if ($('form[name="carousel_slide"]').find(':radio:checked').length > 0) {
           $('form[name="carousel_slide"]').find(':radio:checked').closest('.card').addClass('border-success');
       }
    });
function applyCardClick(ele) {

    $(ele).closest('.card').find('label').removeClass('active');
    $(ele).closest('form').find('.card').removeClass('border-success');
    $(ele).closest('.card').find(':radio').attr('checked', 'checked');
    $(ele).closest('.card').find(':radio[checked="checked"]').closest('label').addClass('active');
    $(ele).closest('.card').addClass('border-success');
}
</script>
{%- endblock -%}
