{% extends 'admin.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="display-3">Create a new page</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <ul class="nav flex-column nav-pills" id="subnav">
                    <li class="nav-item" id="subnav--core">
                        <a class="nav-link active" href="#">Core Options</a>
                    </li>
                    <li class="nav-item dropdown" id="subnav--opts">
                        <a class="nav-link disabled dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false" href="#">Content Options</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#"
                               data-target="#text_heading_type_container">Add Header</a>
                            <a class="dropdown-item" href="#"
                               data-target="#text_leading_container">Add Leading Paragraph</a>
                            <a class="dropdown-item" href="#"
                               data-target="#paragraph_text_container">Add Paragraph</a>
                            <a class="dropdown-item" href="#"
                               data-target="#list_group_container">Add List</a>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-target="#panoramic_image_container">Add Panoramic Image</a>
                        </div>
                    </li>
                    <li class="nav-item" id="subnav--prev">
                        <a class="nav-link disabled" href="#">Preview</a>
                    </li>
                </ul>
            </div>
            <div class="col-9">
                <div class="jumbotron">

                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    {{ form_errors(form) }}
                    <div id="form-core-options">
                        {{ form_row(form.page_route) }}
                        <div class="form-group">
                            {{ form_label(form.page_type) }}
                            {{ form_widget(form.page_type) }}
                            {{ form_errors(form.page_type) }}
                            <small id="page_type_helper" class="form-text text-muted">
                                Landing Page: Large background image with required form only<br>
                                Content Page: Optional Panoramic image with a wide range of content options
                            </small>
                        </div>
                    </div>
                    {{ form_widget(form.display_order) }}
                    <div id="form-opt-options">
                        {%- for key, field in form.display_order -%}
                            {% set el = key|split('--') %}
                            {%  set counter = field.vars.value %}
                            {% if el|length == 2 %}
                                {% if el[0] starts with 'text_heading_' %}
                                    {# This is a special group of elements #}
                                    {% if (el[0] == 'text_heading_type') %}
                                        {% embed "admin/form-widgets/text_heading.html.twig" with {'index': counter, 'counter' : el[1]} %}{% endembed %}
                                    {% endif %}
                                {% else %}
                                    {% embed "admin/form-widgets/#{el[0]}.html.twig" with {'index': counter, 'counter' : el[1]} %}{% endembed %}
                                {% endif %}
                            {% endif %}
                        {%- endfor -%}
                    </div>
                    {{ form_row(form.submit) }}
                    {{ form_widget(form.page_stage) }}
                    {{ form_widget(form._token) }}
                    {# render_rest is set to false as we do not want to submit all non-needed fields #}
                    {{ form_end(form, {'render_rest': false}) }}

                    {# The following are placeholders when adding elements are added dynamically #}
                    {%- block TextHeadingType_widget -%}
                        <div style="display:none;" id="text_heading_type_container" data-counter="{{ current_index }}"
                             data-element-wrapper="{{ '<div class="col"></div>'|e }}"
                             data-template="{{ '<div class="text_heading_type" data-counter="#NEWCOUNTER#"><div class="form-row">#FORMELEMENTS#</div><div class="invisible card card-body" id="js--text_heading_preview"></div>'|e }}">
                            <div class="form-row">
                                {{ form_widget(template.text_heading_type) }}
                                {{ form_widget(template.text_heading_css_class) }}
                                {{ form_widget(template.text_heading_text_value) }}
                            </div>
                            <div class="invisible card card-body" id="js--text_heading_preview">

                            </div>
                        </div>
                    {%- endblock -%}
                    {%- block TextLeading_widget -%}
                        <div style="display: none" id="text_leading_container" data-counter="{{ current_index }}"
                             data-template="{{ '<div class="text_leading" data-counter="#NEWCOUNTER#">#FORMELEMENTS#<div class="invisible card card-body" id="js--text_leading_preview"></div>'|e }}">
                            {{ form_widget(template.text_leading) }}
                        </div>
                    {%- endblock -%}
                    {%- block ParagraphText_widget -%}
                        <div style="display: none" id="paragraph_text_container" data-counter="{{ current_index }}"
                             data-template="{{ '<div class="paragraph_text" data-counter="#NEWCOUNTER#">#FORMELEMENTS#<div class="invisible card card-body" id="js--text_paragraph_preview"></div>'|e }}">
                            {{ form_widget(template.paragraph_text) }}
                        </div>
                    {%- endblock -%}
                    {%- block ListGroup_widget -%}
                        <div style="display: none" id="list_group_container" data-counter="{{ current_index }}"
                             data-template="{{ '<div class="list_group" data-counter="#NEWCOUNTER#">#FORMELEMENTS#<small id="list_group_helper" class="form-text text-muted">Separate items with a comma (,). Wrap items in double-quotes (&quot;) if you require an items to include a comma.</small><div class="invisible card card-body" id="js--text_leading_preview"></div>'|e }}">
                            {{ form_widget(template.list_group) }}
                            <small id="list_group_helper" class="form-text text-muted">
                                Separate items with a comma (,). Wrap items in double-quotes (&quot;) if you require an
                                items to include a comma.
                            </small>

                        </div>
                    {%- endblock -%}
                    {%- block PanoramicImage_widget -%}
                        <div style="display: none" id="panoramic_image_container" data-counter="{{ current_index }}"
                             data-template="{{ '<div class="panoramic_image" data-counter="#NEWCOUNTER#">#FORMELEMENTS#<small id="panoramic_image_helper" class="form-text text-muted">Best placed at the top of the page before any content.</small>'|e }}">
                            {{ form_label(template.panoramic_image) }}
                            {{ form_widget(template.panoramic_image) }}
                            <small id="panoramic_image_helper" class="form-text text-muted">
                                Best placed at the top of the page before any content.
                            </small>

                        </div>
                    {%- endblock -%}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{%- block javascripts -%}
    <script type="text/javascript" src="{{ asset('/bundles/js/admin--pages.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            if ($('#page_page_route').val() && !$('#page_page_route').hasClass('is-invalid')
                && $('#page_page_type').val() && !$('#page_page_type').hasClass('is-invalid')) {
                $('#page_page_route').attr('disabled', true);
                $('#page_page_type').attr('disabled', true);

                $('#form-core-options').find('input,select').attr('disabled', true);
                $('#subnav--core>a').removeClass('active').addClass('disabled');
                $('#subnav--opts>a').removeClass('disabled').addClass('active');

            }

            $('#page_submit').on('click', function (e) {
                e.preventDefault();

                var ele = $(this);

                $(ele).closest('form').find('*:disabled').removeAttr('disabled');
                $(ele).closest('form').submit();

            });

            $('#subnav--opts').on('click', '.dropdown-item', function (e) {
                e.preventDefault();

                var ele = $(this);

                var fields = jQuery(jQuery(this).data('target'));
                if (fields.length > 0) {
                    // Try to find the counter of the list
                    var counter = fields.data('counter');

                    var newWidget = fields.find('*[data-prototype]');
                    var htmlStr = '';

                    $.each(newWidget, function (a, b) {
                        htmlStr += getElementHtml(fields, b, counter);
                    });

                    var newElem = jQuery(fields.data('template').replace('#FORMELEMENTS#', htmlStr).replace('#NEWCOUNTER#', counter));
                    $('#form-opt-options').append(newElem.css('display', 'block'));
                    $.each(newWidget, function (a, b) {
                        $('#form-opt-options').before(jQuery('#page_display_order').data('prototype').toString().replace(/__name__/g, $(b).prop('id').replace(/^page_/, '') + '--' + counter).replace('#NEWCOUNTER#', $('#form-opt-options>div').length));
                    });

                    counter++;
                    $('div.jumbotron>div[data-counter]').data('counter', counter);


                    $('.panoramic_image .card-deck .card .btn').on('click', function (e) {
                        applyPanoClick($(this));
                    });

                    applyPanoSelected();

                } else {
                    console.log('** No Matching Element **')
                }
            });

            $('.panoramic_image .card-deck .card .btn').on('click', function (e) {
                applyPanoClick($(this));
            });

            applyPanoSelected();
        });

        $('#form-opt-options>div').each(function() {
            var target = $('#page_' + jQuery(this).attr('class'));

            if (target.data('form-element-prefix-markup')) {
                if (typeof target.data('form-element-prefix-markup-append-to') !== 'undefined') {
                    appendHtmlTo($(this), $(target).data('form-element-prefix-markup'), $(target).data('form-element-prefix-markup-append-to'));
                }
            }

            if (typeof target.data('form-element-hide') !== 'undefined') {
                hideElement($(this), target.data('form-element-hide'));
            }
        });

        function getElementHtml(fields, b, counter, currentValues)
        {
            var h = $('<body>');
            if (typeof currentValues !== 'undefined') {
                var c = $('<body>');
                appendHtml(c, currentValues);
            }
            if ($(b).data('form-element-prefix-markup')) {
                if (typeof $(b).data('form-element-prefix-markup-append-to') === 'undefined') {
                    appendHtml(h, $(b).data('form-element-prefix-markup'));
                }
            }
            if (fields.data('element-wrapper')) {
                $(h).append(
                    $(fields.data('element-wrapper')).append(
                        (typeof currentValues !== 'undefined' ?
                            currentValues.html() :
                            $(b).data('prototype').toString().replace(/__name__/g, counter)
                        )
                    )
                ).html();
                hideElement(h, $(b).data('form-element-hide'));
            } else {
                $(h).append(
                    (typeof currentValues !== 'undefined' ?
                        $($(b).data('prototype').toString().replace(/__name__/g, counter)).find(':input').html(currentValues.html()) :
                        // $(b).data('prototype').toString().replace(/__name__/g, counter) :
                        $(b).data('prototype').toString().replace(/__name__/g, counter))
                ).html();

                hideElement(h, $(b).data('form-element-hide'));
            }
            if ($(b).data('form-element-prefix-markup')) {
                if (typeof $(b).data('form-element-prefix-markup-append-to') !== 'undefined') {
                    appendHtmlTo(h, $(b).data('form-element-prefix-markup'), $(b).data('form-element-prefix-markup-append-to'))
                }
            }

            return $(h).html();
        }

        function applyPanoClick(ele) {
            $(ele).closest('.card-deck').find(':radio').removeAttr('checked');
            $(ele).closest('.card-deck').find('label').removeClass('active');
            $(ele).closest('.card-deck').find('.card').removeClass('border-success');
            $(ele).closest('.card').find(':radio').attr('checked', 'checked');
            $(ele).closest('.card').find(':radio[checked="checked"]').closest('label').addClass('active');
            $(ele).closest('.card').addClass('border-success');
            if ($(ele).closest('.card').find(':radio:checked').length) {
                $(ele).closest('.panoramic_image').find('select').val($(ele).closest('.card').find(':radio:checked').val());
            }
        }

        function applyPanoSelected() {
            $('.panoramic_image :input[id^="page_panoramic_image"]').each(function (e) {
                $(this).closest('.panoramic_image').find(':radio[value="' + $(this).val() + '"]').trigger('click');
            });

        }
    </script>
{%- endblock -%}
