{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        {# this is the content displayed as a panel in the toolbar #}
        {{ include('data_collector/svg/aws_s3.svg') }}
        <span class="sf-toolbar-value">AWS Requests</span>
    {% endset %}

    {% set text %}
        {# this is the content displayed when hovering the mouse over
           the toolbar panel #}
        {% if collector.data|length > 0 %}
            {%  for data in collector.data %}

                {#<b>{{ data._method }}</b>#}
                {%  for a,b in data  %}
                    <div class="sf-toolbar-info-piece">
                    <b>{{ a }}</b>
                    <span>{{ b }}</span>
                    </div>
                {% endfor %}
            {% endfor %}
        {% else %}
            <div class="sf-toolbar-info-piece">
                No Data
            </div>
        {% endif %}
    {% endset %}

    {# the 'link' value set to 'false' means that this panel doesn't
       show a section in the web profiler #}
    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: true }) }}
{% endblock %}
