<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta id="vp" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script>
        window.onload = function() {
            if (screen.width < 276) {
                var mvp = document.getElementById('vp');
                mvp.setAttribute('content','user-scalable=no,width=276');
            }
        }
    </script>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('admin-home') }}">The Villa at The Bay (Admin)</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item{% if selectedNav is defined and selectedNav == 'admin-home' %} active{% endif %}">
                <a href="{{ path('admin-home') }}" class="nav-link">Home</a>
            </li>
            <li class="nav-item dropdown{% if selectedNav is defined and selectedNav == 'admin-pages' %} active{% endif %}">
                <a href="#" class="nav-link dropdown-toggle" id="navbarPagesDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                <div class="dropdown-menu" aria-labelledby="navbarPagesDropdownMenuLink">
                    <a class="dropdown-item" href="{{ path('admin-pages-create') }}"><span class="oi oi-plus" title="icon name" aria-hidden="true"></span> Manage Pages</a>
                </div>
            </li>
            <li class="nav-item dropdown{% if selectedNav is defined and selectedNav == 'admin-images' %} active{% endif %}">
                <a href="#" class="nav-link dropdown-toggle" id="navbarImagesDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Images</a>
                <div class="dropdown-menu" aria-labelledby="navbarImagesDropdownMenuLink">
                    <a class="dropdown-item" href="{{ path('admin-images-create') }}"><span class="oi oi-plus" title="icon name" aria-hidden="true"></span> Upload Images</a>
                    <a class="dropdown-item" href="{{ path('admin-images-list') }}"><span class="oi oi-aperture" title="icon name" aria-hidden="true"></span> Manage Images</a>
                </div>
            </li>
            <li class="nav-item dropdown{% if selectedNav is defined and selectedNav == 'admin-carousel' %} active{% endif %}">
                <a href="#" class="nav-link dropdown-toggle" id="navbarImagesDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Carousel</a>
                <div class="dropdown-menu" aria-labelledby="navbarImagesDropdownMenuLink">
                    <a class="dropdown-item" href="{{ path('admin-carousel-create') }}"><span class="oi oi-plus" title="icon name" aria-hidden="true"></span> Create New</a>
                    <a class="dropdown-item" href="{{ path('admin-carousel-list') }}"><span class="oi oi-loop" title="icon name" aria-hidden="true"></span> Manage Existing</a>
                </div>
            </li>
            <li class="nav-item">
                <a href="{{ path('admin_config') }}" class="nav-link" id="navbarConfigLink">Settings</a>
            </li>
        </ul>
    </div>
</nav>

{% for message in app.flashes('admin-notice') %}
    <div class="alert alert-info" role="alert">
        {{ message | raw }}
    </div>
{% endfor %}
{% for message in app.flashes('admin-success') %}
    <div class="alert alert-success" role="alert">
        {{ message | raw }}
    </div>
{% endfor %}
{% block body %}{% endblock %}

<div class="container">
    <div class="row">
        <div class="col text-center">
            <span class="badge badge-pill badge-light">
            &copy; <?= date('Y') ?> by THE VILLA AT THE BAY.
            </span>
        </div>
    </div>
</div>
{% block javascripts %}{% endblock %}
</body>
</html>
