<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta id="vp" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <script>
        window.onload = function() {
            if (screen.width < 276) {
                var mvp = document.getElementById('vp');
                mvp.setAttribute('content','user-scalable=no,width=276');
            }
        }
    </script>
    <style type="text/css">
        label.required:after {
            content: '*';
        }
        @media (max-width: 576px) {
            .display-1, .display-2, .display-3, .display-4, .display-5 {
                font-size: x-large;
                font-weight: bold;
            }
        }
    </style>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% if preview_mode is defined and preview_mode == true and preview_mode_form is defined  %}
    {% form_theme preview_mode_form 'bootstrap_4_horizontal_layout.html.twig' %}
    {% set current_path = app.request.get('_route') %}
    <div class="container-fluid">
        <div class="row justify-content-center bg-white">
            <div class="alert alert-info text-center d-block mt-3" role="alert">
                <h4 class="alert-heading">Publish this page?</h4>
                {{ form_start(preview_mode_form, {'attr': {'class': 'form', 'action': path('admin-progress-revision')}}) }}
                <div class="form-row">
                    <div class="col">
                        {{ form_widget(preview_mode_form.approve) }}
                    </div>
                    <div class="col">
                        {{ form_widget(preview_mode_form.decline) }}
                    </div>
                </div>
                {{ form_end(preview_mode_form) }}
            </div>
        </div>
    </div>
{% endif %}
<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand" href="#">The Villa at The Bay</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item{% if selectedNav is defined and selectedNav == 'home' %} active{% endif %}">
                <a href="{{ path('home') }}" class="nav-link">Home</a>
            </li>
            <li class="nav-item{% if selectedNav is defined and selectedNav == 'search' %} active{% endif %}">
                <a href="{{ path('search') }}" class="nav-link">Search</a>
            </li>
            <li class="nav-item{% if selectedNav is defined and selectedNav == 'about' %} active{% endif %}">
                <a href="{{ path('about') }}" class="nav-link">About</a>
            </li>
            <li class="nav-item{% if selectedNav is defined and selectedNav == 'contact' %} active{% endif %}">
                <a href="{{ path('contact') }}" class="nav-link">Contact</a>
            </li>
        </ul>
        {% if (app.user) %}
        <span class="navbar-text">
            Welcome {{ app.user.firstName ~ " " ~ app.user.surname }}! <a href="{{ path('app_logout') }}">Logout?</a>
            <img src="{{ app.user.avatar }}" class="rounded mx-auto" height="24"/>
        </span>
        {% endif %}
    </div>
</nav>

{% block body %}
    {% block search_form %}
        {%  if form_search is defined %}
        {% form_theme form_search 'bootstrap_4_horizontal_layout.html.twig' %}
        <div class="container{% if searchData is defined and searchData.isAvailable() == true %} d-none{% endif %}" id="search_form">
            <div class="jumbotron">
                {{ form_start(form_search) }}

                {{ form_row(form_search.date_start) }}
                {{ form_row(form_search.date_end) }}
                {{ form_row(form_search.adult_count) }}
                {{ form_row(form_search.child_count) }}
                {{ form_row(form_search.search) }}

                {{ form_end(form_search) }}

            </div>
        </div>
        {% endif %}
    {% endblock %}

    {% block contact_form %}
        {% if form_contact is defined %}
            {% form_theme form_contact 'bootstrap_4_horizontal_layout.html.twig' %}
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 class="display-3">Contact the Villa</h1>
                        <p class="lead">Should you have any questions please don't hesitate to contact us.</p>

                        {{ form_start(form_contact) }}
                        {{ form_widget(form_contact) }}
                        {{ form_end(form_contact) }}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endblock %}

{% endblock body %}

<div class="container">
    <div class="row">
        <div class="col text-center">
            <span class="badge badge-pill badge-light">
            &copy; <?= date('Y') ?> by THE VILLA AT THE BAY.
            </span>
        </div>
    </div>
</div>
{% block javascripts %}{% endblock %}
</body>
</html>
